@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#buttons li {
    list-style: none;
    display: inline-block;
    margin: 15px 30px;
}

h1 {
    color: pink;
    text-shadow: 1px 1px black;
}

#buttons input {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    background-color: pink;
    width: 150px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 1px 1.5px black;
    color: white;
    text-shadow: 1px 1px black;
}
#pinkbtn:hover {
    color: black;
    text-shadow: none;
}
table{
    border-radius: 35%;
}
.navbar-inverse {
    background: linear-gradient(white, pink);
    color: white;
    box-shadow: 1px 1px pink;
    border: none;
}




h1 {
    font-family: 'Lobster', cursive;
}

img {
    margin-top: 0px;
    padding-top: 0px;
}
#social img:hover {
    background-color: white;
    transform: scale(.5);
    cursor: pointer;
}

   
