
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<p> Please enter your login creditials below: </p>
User Name: <input type="text" name="username" /> <br />
Password: <input type="text" name="password" /><br />
<input type="submit" value="Log In" class="btn btn-warning" />

