
@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="~/Content/Register.css" />

<h2> Login</h2>
<p> Please enter your login creditials below: </p>
<p>User Name: </p><input type="text" name="username"/> <br/>
<p>Password: </p><input type="text" name="password" /> <br/>
<input type="submit" value="Log In" class="btn btn-warning" />

<br/><p> New user? <a href="/Registration/Index/"> Register here! </a> </p>
