@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/Content/Home.css" />

<div class="back">
    <h1>Mythical Matters Unicorn Shop</h1>
    <ul id="buttons">
        <li><form action="/Registration/Index" method="get"> <input type="submit" value="Register" id="pinkbtn" /></form></li>
        <li><form action="/Registration/Login" method="get"> <input type="submit" value="Login" id="pinkbtn" /></form></li>
    </ul>
       <img src="~/Content/unicorn.jpg" id="sassy" width="300px" />

    </div>