@{
    ViewBag.Title = "Home";
}



<div class="jumbotron">
    <h1>Welcome to GC Coffee Shop!</h1>
    <form action="/Registration/Index" method="get"> <input type="submit" value="Register" class="btn btn-warning" /></form>
    <form action="/Registration/Login" method="get"> <input type="submit" value="Login" class="btn" /></form>
